# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug
debug
Release
obj/
.vs/
/ParaModel/ParaModel.vcxproj
/ParaModel/ParaModel.vcxproj.filters
/ParaModel/ParaModel.vcxproj.user
